body {
    margin: 0;
    text-align: center; /* it will center everything without a width set*/
    font-family: 'Roboto Condensed', sans-serif;
    color: #40514E;
}

h1 {
    width: 20%;
    /* margin: 0 auto 0 auto; top right bottom left */
    margin: 20px auto; /* top&bottom, left&right */
    font-size: 4rem; /* 100% font size = 16px */
    font-family: 'Lobster', cursive;
    color: #66BFBF;
    line-height: 2;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem; /* width of the letter M, 16px = 100% = 1 em*/
    color: #66BFBF;
    font-weight: normal;
}

h3, a {
    font-family: 'Montserrat', sans-serif;
    color: #11999e;
}



.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.bio {
    margin: 20px auto;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
    
}

.skill-row {
    width: 50%;
    margin: 10rem auto;
    text-align: left;
}

.skill-img {
    width: 25%;
    float: left;
    margin-right: 30px;
    border-radius: 100%;
}

.flutter-img {
    width: 25%;
    float: right;
    margin-left: 30px;
    border-radius: 100%;
    
}



/* .code-skill-description {
    clear: left;
}

.flutter-skill-description {
    clear: right;
} */

hr {
    border-style: dotted none none;
    border-color: #eaf6f6;
    border-width: 5px;
    width: 5%;
    margin: 100px auto;
}

.profile-img {
    border-radius: 100%;
    width: 10rem;
    margin-top: 30px;
}

.btn {
    text-decoration: none;
    padding: 1rem 2rem;
    margin: auto;
    margin-bottom: 4rem;
    width: 15%;
    background-color: #66BFBF;
    border-radius: 20px;
    display: block;
    font-size: 1rem;
    color: white;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 2rem 0;
}

.footer-link {
    text-decoration: none;
    padding: 0 2rem;
    color: #000;
}

.copyright {
    margin-top: 2rem;
}

.footer-link:hover {
    color: white;
}